*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

header {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:20px 40px;
    border-bottom: 1px solid #ddd;
}

nav a{
    margin-left: 20px;
    text-decoration: none;
    cursor: pointer;
    color: #000;
    font-size: 15px;
}

main {
    padding: 25px;
    width: 100%;
    
}

h2 {
    margin-bottom: 15px;
}

section{
    padding: 60px 40px;
   
}

footer {
    text-align: center;
    font-size: 14px;
    color: #666;
    padding: 20px;
    
}

