/*Reset*/
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/*-Page*/

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f6f8;
    padding: 20px;
}


#user-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 20px;
}

.user-card {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 16px;
    box-shadow: 0 4px 10px rgba(0,0, 0, 0.08);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    display: flex;
    gap: 10px;
}

.user-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 18px rgba(0,0, 0, 0.15);
}

.user-card h3 {
    margin-bottom: 8px;
    color: #333;
}

.user-card p{
    font-size: 14px;
    color: #555;
    margin-bottom: 6px;
}

.user-card span {
    font-weight: bold;
    color: #222;
}