body {
    font-family: Arial;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
}

.userCard:hover {
    color: blue;
    cursor: pointer;

}

.userCard span{
    font-size: 13px;
    color: blue;
}

.userDetails {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}


.user {
    background: #ccc;
    padding: 20px;
    width: 50%;
    border-radius: 6px;
}

.user span {
    padding: 6px;
    color: black;
    font-weight: 600;
    font-size: 13px;
    cursor: pointer;
}

.hidden {
    display: none;
} 