*{
    padding: 0;
    margin: 0;
    
}

body{
    display: flex;
    justify-content: center;
    align-items: center;

}

h1, h2{
    text-align: center;
    padding: 15px;
    margin: 10px;
}
.toDoListHome{
    height: 70vh;
    width: 100vh;
    background-color: black;
    margin: 40px;
    display: flex;
}


.left{
    width: 50rem;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}
textarea{

    width: 75%;
}
button{
    width: 20%;
    padding: 10px;
    margin: 10px;
    color: blue;
    font-size: 20px;
    font-weight: 500;
    background-color: aqua;
}
.right{
    width: 50rem;
    background-color: aqua;
}

#posts{
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 20px;
    justify-content:space-between;
}
i {
    cursor: pointer;
}
#msg {
    color: red;
}

.postmsg {
    display: flex;
    justify-content: space-between;
}
.postmsg>p {
    overflow: hidden;
    width: 50%;
}

.options{
    width: 25%;
}