body {
    font-family: Arial;
    padding: 20px;
    background: #f4f4f4;
}

.controls {
    margin-bottom: 15px;
}

input, select {
    padding: 6px;
    margin-right: 10px;
}

#productGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
}

.card {
    background: white;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
}

.card img {
    width: 100%;
    height: 140px;
    object-fit: cover;
}

.price {
    font-weight: bold;
    color: green;
}

.pagination {
    margin-top: 15px;
}



.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content{
    background: white;
    padding: 20px;
    width: 400px;
    border-radius: 6px;
}

.hidden {
    display: none;
}

#closemodal {
    padding: 2px;
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
    
    
}