body {
 font-family: Arial, Helvetica, sans-serif;
 padding: 20px;   
}

h2 {
    margin-bottom: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #333;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

a {
    color: blue;
    text-decoration: none;
}