body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

input {
    padding: 8px;
    width: 250px;
    margin-bottom: 15px;
}

#cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    gap: 15px;
}

.card {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 6px;
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 6px;
}

.pagination {
    margin-top: 20px;
}

button {
    padding: 8px 12px;
    border-radius: 6px;
}